.content__grid {
  width: 100%;
  text-align: left;
}

.content__grid--customer {
  height: calc(100% - 166px);
}

.content__grid table {
  width: 100%;
  padding: 0px 16px;
}

.content__grid th,
td {
  border-bottom: 1px solid #ccc;
  padding: 16px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content__grid--address {
  max-width: 250px;
}

.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
